
.FiveSection{
    width: 100%;
    
    
  }
  
  .FiveSection-cont{
    width: 100%;
    height: auto;
  
}

.FiveSection-cont{
    width: 100%;
 
  
}




  .image-text{
    max-width: 450px;
  }

  .product-slider {
    display: flex;
    overflow: hidden;
    width: 100%;
    justify-content: space-between;
    /* padding: 10px; */
    
  }
  
  .product-card {
    /* width: calc(33.33% - 20px); Three products per slide with spacing */
    padding: 10px;
    box-sizing: border-box;
    text-align: center;
  }
  
  .product-card img {
    max-width: 100%;
    height: auto;
  }
  
  /* Style your product cards as needed */
  .product-card h3 {
    font-size: 18px;
  }
  
  .product-card p {
    font-size: 14px;
  }
  

  .subtitle {
    position: relative;
    display: inline-block;
    transition: transform 0.2s ease;
  }
  
  .subtitle:hover::after {
    content: "+";
    position: absolute;
    top: 0;
    right: 100%;
    transform: translateX(5px);
    
  }

  .subtitle:hover {
    transform: translateX(2rem); 
  }
  
  .subtitle:hover::after {
    transform: translateX(0rem); /* Adjust the value as needed */
    opacity: 1;
  }



  
.fivecircle-btn {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #56595b;
  color: white;
  font-size: 20px;
  border: none;
  cursor: pointer;
  transition: transform 0.3s ease;
  position: relative;
 
  /* bottom: -10px;
  left: 80px; */

}

.fivecircle-btn:hover {
  width: 175px;
  height: 70px;
  border-radius: 35%;
  transition: 0.4s;
}



.fivecircle-btnspan {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  position: absolute;
bottom: 2px;
left: 20px;
  color: white;
  
}

.fivecircle-container:hover .fivecircle-btn {
  width: 130px;
  height: 70px;
  border-radius: 35%;
  transition: 0.4s;
}
