/* src/styles/fonts.css */

@font-face {
    font-family: 'Stoicheion';
    src: url('../asisste/font/Stoicheion-2Od3X.ttf') format('1234567890'); /* Update the path and format based on your font file */
    /* Add additional src declarations if you have multiple font formats (e.g., woff, woff2) */
  }
  
  body {
    font-family: 'Stoicheion', sans-serif; /* Use the specified font-family in your styles */
  }
  